// app global css in SCSS form
body {
  background-color: #dfdfe8;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Evita el aumento al hacer scroll */
input[type='number'] {
  position: relative;
}

.logo-img {
  max-width: 60px;
  max-height: 50px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.header-toolbar {
  position: relative;
}

.header-toolbar .right-btn {
  right: 13px;
  max-width: 220px;
  position: absolute;
  display: flex-end;
}

.round-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.slider-simple-item {
  width: 100%;
  height: calc(100vh - 100px) !important;
}

.slider-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.slider-wrapper {
  max-width: 40%;
}

.relative {
  position: relative;
}

.swiper-button-next {
  position: absolute;
  right: -50px !important;
}

.swiper-button-prev {
  position: absolute;
  left: -50px !important;
}

.round-10 {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.product-card {
  min-width: 1000px;
}

.product-section {
  display: grid;
  grid-template-columns: 40% 60%;
}

.media-product-galery-img {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
}

.thumb-example {
  height: 600px;
}

.top-swiper,
.thumbs-swiper {
  .slide {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.top-swiper {
  height: 85%;
  width: 100%;
}

.thumbs-swiper {
  height: 15%;
  box-sizing: border-box;
  padding: 10 0;

  .slide {
    width: 25%;
    height: 100%;
    opacity: 1;
    &:not(.swiper-slide-thumb-active) {
      opacity: 0.4;
    }
  }
}

.chip-bag {
  position: absolute;
  right: -12px;
  top: -4px;
}

.shopping-bag {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
}

.shopping-bag-header {
  text-align: center !important;
  width: 100%;
}

.shopping-bag-footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  padding-top: 15px;
}

.shopping-bag span {
  font-weight: 500 !important;
}

.shopping-bag-body {
  height: calc(100vh - 200px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.shopping-bag-body .item-title {
  font-weight: 600;
}

.shopping-bag-total {
  position: absolute;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  padding-top: 15px;
}

.q-dialog__title {
  margin-top: 0px;
  font-size: 12pt;
}

.quiantity-input input {
  text-align: center;
}

.q-popup-edit {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.shopping-bag .no-product-section {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish-order {
  width: 650px;
}

.close-btn-modal {
  top: 15px;
  right: 5px;
}

label {
  font-size: 12pt;
  color: black;
  font-weight: 600;
}

.social-share {
  width: 600px;
}

.share-network-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

a[class^='share-network-'] {
  flex: none;
  color: #ffffff;
  background-color: #333;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px 10px 0;
  padding: 8px 8px;
  text-decoration: none;
}

a[class^='share-network-'] .fah {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  flex: 0 1 auto;
}

a[class^='share-network-'] span {
  padding: 0 8px;
  flex: 1 1 0%;
  font-weight: 500;
}

.download-catalogue {
  width: 400px;
}

.flip-book {
  width: 60%;
}

.page {
  padding: 0px;
  background-color: transparent;
  color: transparent;
  border: solid 0px transparent;
  overflow: hidden;
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
}

.page-image {
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: solid 0px transparent;
}

.page-footer {
  height: 30px;
  border-top: solid 1px transparent;
  font-size: 80%;
  color: transparent;
}

.page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right .page-footer {
  text-align: right;
}

.page.hard {
  background-color: transparent;
  border: solid 0px transparent;
}

.page.page-cover h2 {
  text-align: center;
  padding-top: 50%;
  font-size: 210%;
}

.page.page-cover.page-cover-top {
  box-shadow: inset 0px 0 0px 0px rgba(36, 10, 3, 0.5),
    -1px 0 0px 0px rgba(0, 0, 0, 0.4);
}

.page.page-cover.page-cover-bottom {
  box-shadow: inset 0px 0 0px 0px rgba(36, 10, 3, 0.5),
    0px 0 0px 0px rgba(0, 0, 0, 0.4);
}

.link {
  text-decoration: none;
  color: #6b1521;
  font-weight: 500;
}

.link:hover {
  transform: scale(1.2) !important;
}

.landing-container {
  width: 80%;
  margin: 0px auto;
}

.landing-card {
  border-radius: 8px;
  cursor: pointer;
}

.landing-card .overflow {
  display: none;
}

.landing-card:hover .overflow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// medias queries //
@media (min-width: 1600px) {
  .slider-wrapper {
    max-width: 30%;
  }
}

@media (max-width: 1350px) {
  .slider-wrapper {
    max-width: 35%;
  }
}

@media (max-width: 1200px) {
  .slider-wrapper {
    max-width: 40% !important;
  }
}

@media (max-width: 1000px) {
  .slider-wrapper {
    max-width: 50% !important;
  }

  .product-card {
    min-width: 100%;
    height: 95vh;
  }

  .thumb-example {
    height: 650px;
  }

  .swiper-zoom-container {
    height: 554px;
  }

  .landing-container {
    width: 100%;
    margin: 0px auto;
  }
}

@media (max-width: 800px) {
  .slider-wrapper {
    max-width: 100% !important;
  }

  .product-section {
    display: grid;
    grid-template-columns: 100%;
  }

  .media-product-galery-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

@media (max-width: 680px) {
  .social-share {
    width: 100%;
  }

  .slider-simple-item {
    width: 100%;
    height: calc(65vh) !important;
  }

  .swiper-button-next {
    position: absolute;
    right: -20px !important;
  }

  .swiper-button-prev {
    position: absolute;
    left: -20px !important;
  }

  .thumb-example {
    height: 470px;
  }

  .swiper-zoom-container {
    height: 400px;
  }

  .download-catalogue {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .thumb-example {
    height: 400px;
  }

  .swiper-zoom-container {
    height: 400px;
  }

  .finish-order {
    width: 100%;
  }

  .swiper-button-next {
    position: absolute;
    right: 0px !important;
  }

  .swiper-button-prev {
    position: absolute;
    left: 0px !important;
  }
}
