// app global css in SCSS form
body {
  background-color: #dfdfe8;
}

.logo-img {
  max-width: 120px;
  max-height: 50px;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.header-toolbar {
  position: relative;
}

.header-toolbar .right-btn {
  right: 13px;
  max-width: 220px;
  position: absolute;
  display: flex-end;
}

.round-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.slider-simple-item {
  width: 100%;
  height: calc(100vh - 100px) !important;
}

.slider-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.slider-wrapper {
  max-width: 40%;
}

@media (min-width: 1600px) {
  .slider-wrapper {
    max-width: 30%;
  }
}

@media (max-width: 1350px) {
  .slider-wrapper {
    max-width: 35%;
  }
}

@media (max-width: 1200px) {
  .slider-wrapper {
    max-width: 40% !important;
  }
}

@media (max-width: 1000px) {
  .slider-wrapper {
    max-width: 50% !important;
  }
}
